[production]
last 1 Chrome major version
last 1 Edge major version
last 1 Firefox major version
last 1 Safari major version
last 1 iOS major version
not dead
not op_mini all

[development]
last 1 Chrome major version
last 1 Edge major version
last 1 Firefox major version
last 1 Safari major version
